### Structured Query Language - SQL
Data in databases is stored in tables
All the data in the same column must match in terms of data types

#### Operations
- Create
- Read
- Update
- Delete

ER diagram : [Refer](https://www.guru99.com/er-diagram-tutorial-dbms.html)

#### MySQL DBMS

In [ ]:
# installation
pip install mysql-connector-python

In [1]:
# Connect to a MySQL database
import mysql.connector

# Connect to the database
db = mysql.connector.connect(user='username', password='password',
                              host='hostname', database='database')
print(db)

In [ ]:
# Create a cursor
cursor = db.cursor()

In [ ]:
#check all the databases in the MySQL
cursor.execute("SHOW DATABASES") 
databases = cursor.fetchall() 
print(databases)

In [ ]:
cursor.execute("CREATE DATABASE my_first_db")

In [ ]:
#Here creating database table as student'
cursor.execute("""CREATE TABLE student (id INT, name VARCHAR(255),
	       roll INT NOT NULL, section VARCHAR(5), age INT)""")
#Get database table'
cursor.execute("SHOW TABLES")
for table in cursor:
	print(table)

In [ ]:
#Here creating database table as employee with primary key
cursor.execute("CREATE TABLE employee(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), salary INT(6))")
#Get database table
cursor.execute("SHOW TABLES")
for table in cursor:
	print(table)

In [ ]:
#Here we modify existing column id
cursor.execute("ALTER TABLE student MODIFY id INT PRIMARY KEY")

In [ ]:
student_sql_query = "INSERT INTO student(id,name,roll,section,age) VALUES(01, 'John', 5, 'B', 20)"
employee_sql_query = " INSERT INTO employee (id, name, salary) VALUES (01, 'John', 10000)"
#Execute cursor and pass query as well as student data
cursor.execute(student_sql_query)
#Execute cursor and pass query of employee and data of employee
cursor.execute(employee_sql_query)
db.commit()
print(cursor.rowcount, "Record Inserted")

In [ ]:
#insert multiple values at once
sql = "INSERT INTO STUDENT (NAME, ROLL, SECTION, AGE)\
VALUES (%s, %s, %s, %s, %s)"
val = [("Nikhil", "98", "A", "18"),
       ("Nisha", "99", "A", "18"),
       ("Rohan", "43", "B", "20"),
       ("Amit", "24", "A", "21"),
       ("Anil","45", "B", "20"),
       ("Megha", "55", "A", "22"),
       ("Sita", "95", "A", "19")]
   
cursor.executemany(sql, val)
db.commit()

In [ ]:
query = "SELECT NAME FROM STUDENT"
cursor.execute(query)
   
myresult = cursor.fetchall()
   
for x in myresult:
    print(x)

In [ ]:
query = "SELECT * FROM STUDENT where AGE >=20"
cursor.execute(query)
   
myresult = cursor.fetchall()
   
for x in myresult:
    print(x)

In [ ]:
query = "SELECT * FROM STUDENT ORDER BY NAME DESC"
cursor.execute(query)
   
myresult = cursor.fetchall()
   
for x in myresult:
    print(x)

In [ ]:
query = "SELECT * FROM STUDENT LIMIT 2 OFFSET 1"
cursor.execute(query)
   
myresult = cursor.fetchall()
   
for x in myresult:
    print(x)

In [ ]:
query = "UPDATE STUDENT SET AGE = 23 WHERE Name ='Ram'"
cursor.execute(query)
db.commit()

In [ ]:
query = "DELETE FROM STUDENT WHERE NAME = 'Ram'"
cursor.execute(query)
db.commit()

In [ ]:
query ="DROP TABLE Student;"
 
cursor.execute(query)
db.commit()

In [ ]:
# Close the cursor and connection
cursor.close()
db.close()

### EXERCISE

<img src=".\img\ex1.PNG" alt="Alternative text" />